@font-face {
    font-family: Nunito;
    src: url(./assets/Nunito.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./assets/Raleway.ttf);
}

@font-face {
    font-family: SourceCodePro;
    src: url(./assets/SourceCodePro.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* TODO: style all links of accessibiltiy. */
    a {
        
    }
}

@layer components {
    .small-title {
        @apply font-title font-bold
    }
    .home-rectangle {
        @apply p-4 shadow-lg  border border-black bg-opacity-30 flex items-center 
    }
    
    .animate-rainbow {
        animation: rainbow 2s infinite;
    }
    @keyframes rainbow {
        form {
            filter: hue-rotate(0deg);
        }
        to {
            filter: hue-rotate(360deg);
        }
    }
    
    .animate-spin-square {
        animation: spin-square 0.3s linear infinite;
    }

    @keyframes spin-square {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(90deg);
        }
    }
}