@font-face {
    font-family: Nunito;
    src: url(./assets/Nunito.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./assets/Raleway.ttf);
}

@font-face {
    font-family: SourceCodePro;
    src: url(./assets/SourceCodePro.ttf);
}

@font-face {
    font-family: Inter;
    src: url(./assets/Inter.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* TODO: style all links of accessibiltiy. */
    a {

    }
}

@layer components {
    .small-title {
        @apply font-title font-bold
    }
    .home-rectangle {
        @apply p-4 shadow-lg  border border-black bg-opacity-30 flex items-center
    }
    .card {
        @apply p-4 block bg-white rounded-sm shadow-sm hover:shadow-md w-full border;
    }
    .docblock {
        @apply prose p-4 block bg-white rounded-sm shadow w-full border border-black;
    }

    input[type="number"] {
        /* hide spinner */
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;

        @apply focus:ring-2 focus:ring-indigo-500 focus:border-transparent block sm:text-sm border-gray-300 rounded-sm
    }

    .animate-rainbow {
        animation: rainbow 2s infinite;
    }
    @keyframes rainbow {
        form {
            filter: hue-rotate(0deg);
        }
        to {
            filter: hue-rotate(360deg);
        }
    }

    .animate-spin-square {
        animation: spin-square 0.3s linear infinite;
    }

    @keyframes spin-square {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(90deg);
        }
    }
}